/* #region COMMON  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --spt-body-color: #;
  --spt-side-color: #;
  --spt-primary-color: #;
  --spt-primary-color-light: #;
  --spt-text-color: #;
}

.debug{
    *{
        border: 1px solid black;
    }
}

img {
    width: 100%;
  }

.d-flex {
  display: flex;
}

.text_center {
  text-align: center;
}
body {
    height: calc(100vh - 90px);
    background-color: aqua;
  }
  .col-2{
    width: calc(100% / 12 * 2)
  }
  .col-6{
    width: calc(100% / 12 * 6)
  }
/* #endregion COMMON */
/* #region SIDEBAR */
.sidebar {
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: calc(100vh - 90px);
  background-color: red;

  header {
    background-color: brown;
    height: 40px;
    padding: 5px;
    vertical-align: center;
    .small_logo {
      height: 100%;
    }
    .logo_text {
      display: none;
    }
  }
  .menu {
    padding: 5px;
    background-color: fuchsia;
    span {
      display: none;
    }
    ul li {
      padding: 10px 5px;
    }
  }
  #playlist_nav {
    display: none;
  }
  .dwn-app_and_p_user {
    background-color: green;
    .dwn-app{
        padding: 15px ;
    }
    .p-user {
      padding: 10px;
      img{
        background-color: gray;
        border-radius: 50%;
      }
    }
    span,
    hr {
      display: none;
    }
  }
}
/* #endregion SIDEBAR */

/* #region MAIN PAGE CONTENT */
#main_page{
    position: fixed;
    top: 0;
    left: 50px;
    height: calc(100vh - 90px);
    width: calc(100vw - 50px);
    overflow-y: auto;
    h3{
        color: white;
        padding: 1rem;
        font-size: 25px;
    }
}
/* #region TOP MAIN-UPGRADE */
.upgrade_buttom{
    padding-right: 5px;
    justify-content: flex-end;
    background-color: gray;
   align-items: center;
   height: 90px;
   a{
    text-decoration: none;
    color: white;
      padding: 1rem 2rem;
      border-color: white;
      border-radius: 25px;  
   }
   a:hover{
    color: red;
    border-color: red;
  }
}
/* #endregion TOP MAIN-UPGRADE*/

/* #region  UNDER-TOP-TYPE-LIST*/
.type_list{
    justify-content: center;
    ul{
        column-gap: 10px;
        list-style: none;
         flex-wrap: wrap;
      li{
        color: lightgray;
        text-transform: uppercase;
        padding: 20px;
      }
         

    }
}
/* #endregion  UNDER-TOP-TYPE-LIST*/

/* #region RECENTLY-PLAYED-ROW*/
.container{
    width: 100%;
.row{
    flex-wrap: wrap;
    gap: 10px;
    .card{
        background-color: bisque;
        height: 277px;
        width: 214px;
        
    }
}
}
/* #endregion RECENTLY-PLAYED-ROW*/

/* #region CREATED-FOR-USER-ROW */
/* #endregion CREATED-FOR-USER-ROW */

/* #region MOST-POPULAR-ARTIST */
/* #endregion MOST-POPULAR-ARTIST */


/* #endregion MAIN PAGE CONTENT */

/* #region FOOTER BOTOM CONTROLS */
.bottom_controls {
    justify-content: space-between;
    align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: blueviolet;
  height: 90px;
  width: 100%;
  .bottom_info_left{
    align-items: center;
  }

  .bottom_info_left, .player_container, .volume_icon_right{
    padding: 5px;
    background-color: yellowgreen;
    .info_left{
        background-color: green;
    }
    .controls_button{
        background-color: green;
    }
    .icon_x span{
        background-color: green;
    }
  

  }

}
/* #endregion FOOTER BOTOM CONTROLS */

/* ################ */

@media screen and (min-width: 552px) {
  * {
    display: none;
  }
}
