/* #region COMMON  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 500ms;
}
:root {
  --spt-top-color: #080b12;
  --spt-body-color: #141922;
  --spt-side-color: #000000;
  --spt-primary-color: #;
  --spt-primary-color-light: #;
  --spt-text-primary-color: #ffffff;
  --spt-text-secondary-color: #7b7d82;
  --spt-controller: #282828;
  --spt-p-user-color: #808080;
}

.debug {
  * {
    border: 1px solid red;
  }
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}

.text_center {
  text-align: center;
}
body {
  height: calc(100vh - 90px);
  background-color: var(--spt-body-color);
  
}
.col {
  width: calc(100% / 12 * 6);
}

/* #endregion COMMON */
/* #region SIDEBAR */
.sidebar {
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 50px;
  height: calc(100vh - 90px);
  background-color: var(--spt-side-color);

  header {
    /* background-color: brown; */
    height: 40px;
    padding: 5px;
    vertical-align: center;
    .small_logo {
      height: 100%;
      cursor: pointer;
    }
    img:hover {
      background-color: red;
    }
    .logo_text {
      display: none;
    }
  }
  .menu {
    padding: 5px;
    cursor: pointer;
    /*  background-color: fuchsia; */
    span {
      display: none;
    }

    ul li {
      padding: 10px 5px;
    }
    li:hover {
      background-color: red;
    }
  }

  #playlist_nav {
    display: none;
  }
  .dwn-app_and_p_user {
    /*  background-color: green; */
    .dwn-app {
      padding: 15px;
      cursor: pointer;
    }
    .p-user {
      padding: 10px;
      cursor: pointer;
      img {
        background-color: var(--spt-p-user-color);
        border-radius: 50%;
      }
    }
    span,
    hr {
      display: none;
    }
    img:hover {
      background-color: red;
    }
  }
}
/* #endregion SIDEBAR */

/* #region MAIN PAGE CONTENT */
#main_page {
  position: fixed;
  top: 0;
  left: 50px;
  height: calc(100vh - 90px);
  width: calc(100% - 50px);
  overflow-y: auto;
  .content_main {
    flex-direction: column;
    padding: 0 1rem 1rem;
  }
  h3 {
    color: var(--spt-text-primary-color);
    padding: 0.5rem 0;
    font-size: 25px;
  }
  h5 {
    color: var(--spt-text-secondary-color);
    padding: 0.5rem 0;
  }
}
/* #region TOP MAIN-UPGRADE */

.upgrade_buttom {
  padding-right: 5px;
  justify-content: flex-end;
  background-color: var(--spt-top-color);
  align-items: center;
  height: 90px;
  a {
    text-decoration: none;
    color: var(--spt-text-primary-color);
    padding: 0.5rem 2rem;
    border: 1px solid;
    border-color: var(--spt-text-primary-color);
    border-radius: 25px;
  }
  a:hover {
    transform: scale(1.2);
  }
}
/* #endregion TOP MAIN-UPGRADE*/

/* #region  UNDER-TOP-TYPE-LIST*/
.type_list {
  justify-content: center;
  ul {
    justify-content: center;
    column-gap: 13px;
    list-style: none;
    flex-wrap: wrap;
    li {
      font-size: 13px;
      color: var(--spt-text-secondary-color);
      font-weight: 800;
      text-transform: uppercase;
      padding: 1rem 0.2rem;
      cursor: pointer;
    }
    li:hover {
      color: var(--spt-text-primary-color);
    }
  }
}
/* #endregion  UNDER-TOP-TYPE-LIST*
/* #region RECENTLY-PLAYED-ROW*/
.container {
  
  width: 100%;
  flex-direction: column;

  .row {
    flex-wrap: wrap;
    
    
    
    

    .card {
      padding: 5px;
      display: flex;
      flex-direction: column;
      text-align: center;
      /*  background-color: bisque; */

      /*  width: 214px; */
      /* margin: auto; */
      h4 {
        color: var(--spt-text-primary-color);
        padding: 0.7rem 0;
      }
      p {
        padding: 10px 0;
        color: var(--spt-text-secondary-color);
        font-size: 12px;
        font-weight: 800;
      }
      .image_container {
        position: relative;

        .play_icon {
          font-size: 60px;
          color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
        }
        .play_icon:hover {
          opacity: 1;
        }
      }
    }
  }
}
/* #endregion RECENTLY-PLAYED-ROW*/

/* #region CREATED-FOR-USER-ROW */
/* #endregion CREATED-FOR-USER-ROW */

/* #region MOST-POPULAR-ARTIST */
.round_image {
  border-radius: 50%;
}
/* #endregion MOST-POPULAR-ARTIST */

/* #endregion MAIN PAGE CONTENT */

/* #region FOOTER BOTOM CONTROLS */
.bottom_controls {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--spt-controller);
  height: 90px;
  width: 100%;
  /* #region CONTAINER LEFT INFO */
  .bottom_info_left {
    align-items: center;
    .info_left {
      .img_album_info_left {
        padding: 0.5rem;
        align-content: center;
        img {
          height: 28px;
          width: 28px;
        }
      }
      h4 {
        color: var(--spt-text-primary-color);
        font-size: 13px;
        font-weight: 800;
      }
      p {
        font-size: 11px;
        font-weight: 500;
        color: var(--spt-text-secondary-color);
      }
      p:hover {
        color: var(--spt-text-primary-color);
      }
    }
    .like_and_folder {
      p {
        color: var(--spt-text-secondary-color);
        padding: 0 5px;
        cursor: pointer;
      }
      p:hover {
        color: var(--spt-text-primary-color);
      }
    }
  }
  /* #endregion CONTAINER LEFT INFO */
  /* #region CONTROL BUTTONS PLAYER */
  .container_play{
    width: 40%;
    margin: auto;
  }
  #player_container {
    font-size: 1.7rem;
    align-self: flex-start;
    
    .controls_button {
      justify-content: center;
      span {
        padding: 0.5rem;
        i {
          color: var(--spt-text-primary-color);
        }
      }
      i:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    
  }
  .progress_container{
    justify-content: center;
    align-items: center;
    p{
      font-size: 10px;
      color: var(--spt-text-primary-color);
      padding: 5px;
    }
  }
  .progress_bar {
    width: 100%;
    height: 4px;
    background: #5a5a5a;
    .progress {
      width: 20%;
      height: 100%;
      background: #ffffff;
    }
    .progress:hover {
      cursor: pointer;
      background-color: lightgreen;
    }
  }
  /* #endregion CONTROL BUTTONS PLAYER */

  /* #region VOLUME AND ICON RIGHT */
  .volume_icon_right {
    font-size: 10px;
    padding: 1rem 0.5rem;
    .icon_x span {
      color: var(--spt-text-primary-color);
      padding: 0.5rem;
    }
    span:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    .volume_progress_bar {
      align-self: center;
      width: 85px;
      height: 4px;
      background: #5a5a5a;
      .vol_progress {
        width: 17px;
        height: 100%;
        background: #ffffff;
      }
      .vol_progress:hover {
        cursor: pointer;
        background-color: lightgreen;
      }
    }
  }
  /* #endregion VOLUME AND ICON RIGHT */
}
/* #endregion FOOTER BOTOM CONTROLS */

/* ################################################################### */

@media screen and (min-width: 552px) {
  /*  DA SISTEMARE LA SIDEBAR .......................................!!!!!!!!!!!!!!! */
  .sidebar{
    background-color: pink;
    width: 230px;
    header{
      .small_logo{
        display: none;
      }
      .logo_text{
        display: block;
        padding: 1rem;
      }
    }
    .menu{
      li{
        margin-top: 10px;
        display: flex;
      }
      
     span{
      display: block;
     }
    }

  }
  #main_page{
    left: 230px;
    width: calc(100% - 230px);
  }
}

@media screen and (min-width: 639px) {
  .like_and_folder{
    display: flex;
    padding: 1rem;
  }
  .col {
    width: calc(100%/ 12 * 3);
  }
  
}

@media screen and (min-width: 878px) {
.col{
  width: calc(100% / 12 * 2);
}
}