/* #region COMMON  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --spt-body-color: #;
  --spt-side-color: #;
  --spt-primary-color: #;
  --spt-primary-color-light: #;
  --spt-text-color: #;
}
img {
    width: 100%;
  }

.d-flex {
  display: flex;
}

.text_center {
  text-align: center;
}
body {
    height: calc(100vh - 90px);
    background-color: aqua;
  }
/* #endregion COMMON */
/* #region SIDEBAR */
.sidebar {
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: calc(100vh - 90px);
  background-color: red;

  header {
    background-color: brown;
    height: 40px;
    padding: 5px;
    vertical-align: center;
    .small_logo {
      height: 100%;
    }
    .logo_text {
      display: none;
    }
  }
  .menu {
    padding: 5px;
    background-color: fuchsia;
    span {
      display: none;
    }
    ul li {
      padding: 10px 5px;
    }
  }
  #playlist_nav {
    display: none;
  }
  .dwn-app_and_p_user {
    background-color: green;
    .dwn-app{
        padding: 15px ;
    }
    .p-user {
      padding: 10px;
      img{
        background-color: gray;
        border-radius: 50%;
      }
    }
    span,
    hr {
      display: none;
    }
  }
}
/* #endregion SIDEBAR */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: blueviolet;
  height: 90px;
  width: 100%;
}


/* ################ */

@media screen and (min-width: 552px) {
  * {
    display: none;
  }
}
